#name {
  width: fit-content;
  padding: 2px;
  border-radius: 4px;
  font-size: 24px;
  color: rgb(246, 215, 250);
  margin: auto;
}

#container {
  background-color: rgb(237, 27, 27);
  border: 16px solid rgb(23, 128, 0);
  border-radius: 24px;
  width: 540px;
  margin: auto;
  height: 100vh;
  overflow-y: scroll;
}
